///////////////////////////////////
// head-shots for the Team page //
//////////////////////////////////
.personal_photo {
    float: left;
    padding: 1em;
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

//////////////////////////////
// updating Minima defaults //
//////////////////////////////
.site-nav {
    @include media-query($on-palm) {
	// ensure that the mobile navigation menu always appears on top
	z-index: 9999;
    }

}

////////////////////////
// front page banner //
///////////////////////
.banner {
    width: 100%;
    height: 200px;
    position: relative;
    margin:0;
    // border: 1px;
    // border-style: solid;
    padding:0;
    .feature-img {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	object-fit: contain;
	display: none;
    }
    .select-left {left:0; border-radius: 0 3px 3px 0;}
    .select-right {right:0; border-radius: 3px 0 0 3px;}
    .select-left, .select-right {
	width:auto;
	top:50%;
	padding: 16px;
	margin-top: -22px;
	position:absolute;
	cursor:pointer;
	vertical-align:top;
	user-select: none;
	color: black;
	font-weight: bold;
	font-size: 18px;
	background-color: rgba(220,220,220,.5);
    }

    // only invert colors on devices that support hovering
    @media (hover:hover) {
	.select-left:hover, .select-right:hover {
	    color: white;
	    background-color: rgba(0,0,0,0.5);
	}
    }
    
    .select-left:hover, .select-right:hover {
	    text-decoration: none;
    }

}
.nav {
    height: 2ex;
    width: 100%;
    bottom: -1ex;
    position:relative;
    text-align:center;
    // border: 1px solid;
    padding-bottom:5ex;
    margin:0;
    vertical-align: top;
    .dot {
	height:2ex;
	width:2ex;
	background-color: #bbb;
	border-radius: 50%;
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	margin: 0 2px;
    }
    .active, .dot:hover {
	background-color: #717171;
    }

}

@media (hover:hover) {
   button:hover {
      background: green;
   }
}

/////////////////////
// Notebook table //
////////////////////

.notebook-table {
    overflow-x:auto;
    
    button {
	background:none;
	background-color:transparent;
	box-shadow:none;
	border:none;
	color:inherit;
	border-radius:0;
	cursor:pointer;
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
	font: {
	    size: inherit;
	    weight: bold;
	}
	vertical-align:middle;
	.text {
	    vertical-align:middle;
	    display: inline-block;
	    white-space: normal;
	}
    }

    // unsorted_caret are a stacked up/down triangles. These are shown
    // when the asc and desc attributes do not apply
    .unsorted_caret {
	width: 0;
	height: 0;
	// sets caret size
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #808080;
	content: "";
	position: relative;
	top: 3px;
	right: -4px;
	font-size:0px;
	vertical-align:middle;
    }
    .unsorted_caret:after {
	width: 0;
	height: 0;
	// sets caret size
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #808080;
	content: "";
	position: absolute;
	top: -13px;
	left: -6px;
	font-size:0px;
    }

    // sorted_caret shows just one of the up/down triangles, depending
    // on the asc and desc attributes.  These overlap with the
    // unsorted triangles.
    .sorted_caret { line-height:0; }
    .sorted_caret:after { content:""; }
    .asc .sorted_caret {
	width: 0;
	height: 0;
	// sets caret size
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #808080;
	content: "";
	position: relative;
	top: 3px;
	right: -4px;
	font-size:0px; }
    .desc .sorted_caret {
	width: 0;
	height: 0;
	// sets caret size
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid transparent;
	content: "";
	position: relative;
	top: 3px;
	right: -4px;
	font-size:0px; }
    .desc .sorted_caret:after {
	width: 0;
	height: 0;
	// sets caret size
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #808080;
	content: "";
	position: absolute;
	top: -13px;
	left: -6px;
	font-size:0; }
    .sort .unsorted_caret { display:inline-block; }
    .sort.asc .unsorted_caret { display:none; }
    .sort.desc .unsorted_caret { display:none; }
    .sort .sorted_caret { display:none; }
    .sort.asc .sorted_caret { display:inline-block; }
    .sort.desc .sorted_caret { display:inline-block; }
}
