.personal_photo {
    float: left;
    padding: 1em;
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.site-nav {
    @include media-query($on-palm) {
	// ensure that the mobile navigation menu always appears on top
	z-index: 9999;
    }

}


.banner {
    width: 100%;
    height: 200px;
    position: relative;
    margin:0;
    // border: 1px;
    // border-style: solid;
    padding:0;
    .feature-img {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	object-fit: contain;
	display: none;
    }
    .select-left {left:0; border-radius: 0 3px 3px 0;}
    .select-right {right:0; border-radius: 3px 0 0 3px;}
    .select-left, .select-right {
	width:auto;
	top:50%;
	padding: 16px;
	margin-top: -22px;
	position:absolute;
	cursor:pointer;
	vertical-align:top;
	user-select: none;
	color: black;
	font-weight: bold;
	font-size: 18px;
	background-color: rgba(220,220,220,.5);
    }

    // only invert colors on devices that support hovering
    @media (hover:hover) {
	.select-left:hover, .select-right:hover {
	    color: white;
	    background-color: rgba(0,0,0,0.5);
	}
    }
    
    .select-left:hover, .select-right:hover {
	    text-decoration: none;
    }

}
.nav {
    height: 2ex;
    width: 100%;
    bottom: -1ex;
    position:relative;
    text-align:center;
    // border: 1px solid;
    padding-bottom:5ex;
    margin:0;
    vertical-align: top;
    .dot {
	height:2ex;
	width:2ex;
	background-color: #bbb;
	border-radius: 50%;
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	margin: 0 2px;
    }
    .active, .dot:hover {
	background-color: #717171;
    }

}

@media (hover:hover) {
   button:hover {
      background: green;
   }
}
