---
layout: default
---

{%- if page.header.overlay_images -%}
<div class="banner">
  <!-- add each image -->
  {%- for image in page.header.overlay_images -%}
  <img class="feature-img" src={{ image }}/>
  {%- endfor -%}
  <!-- selector buttons -->
  <a class="select-left" onclick="plusDivs(-1)">&#10094;</a>
  <a class="select-right" onclick="plusDivs(1)">&#10095;</a>
</div>
<!-- add a navigation dot for each image -->
<div class="nav">
  {%- for image in page.header.overlay_images -%}
  <span class="dot demo" onclick="currentDiv({{ forloop.index }})"></span>
  {%- endfor -%}
</div>

<!-- JavaScript adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow -->
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("feature-img");
    var dots = document.getElementsByClassName("dot");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
	x[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
	dots[i].className = dots[i].className.replace(" active", "");
    }
    x[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    
    // n++;
    // if (n > x.length) {n = 1}
    // setTimeout(showDivs, 2000); // Change image every 2 seconds
    
}
</script>
{%- endif -%}

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <!-- {%- if site.posts.size > 0 -%} -->
  <!--   <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
  <!--   <ul class="post-list"> -->
  <!--     {%- for post in site.posts -%} -->
  <!--     <li> -->
  <!--       {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} -->
  <!--       <span class="post-meta">{{ post.date | date: date_format }}</span> -->
  <!--       <h3> -->
  <!--         <a class="post-link" href="{{ post.url | relative_url }}"> -->
  <!--           {{ post.title | escape }} -->
  <!--         </a> -->
  <!--       </h3> -->
  <!--       {%- if site.show_excerpts -%} -->
  <!--         {{ post.excerpt }} -->
  <!--       {%- endif -%} -->
  <!--     </li> -->
  <!--     {%- endfor -%} -->
  <!--   </ul> -->

  <!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  <!-- {%- endif -%} -->

</div>
